body{
    font-size: 62.5%;
}

div{
    position: relative;
    float: left;
}
.headings{
    width: 100%;
}
#head{
    width: 500px;
    height: 100px;
    font-size: 5em;
    display: inline-flex;
    align-items: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#author{
    width: 150px;
    height: 67px;
    font-size: 1.5em;
    display: inline-flex;
    align-items: flex-end;
    margin-bottom: 33px;
    font-family: Haettenschweiler;
    color: skyblue;
}

.bus_card_wrap {
    background-color: antiquewhite;
    font-family: sans-serif;
    height: 2000px;
    width: 800px;
    float:inline-end;
}

.bus_card{
    height: 300px;
    width: 100%;
}

.card_rows{
    height: 50%;
    width: 100%;
}

.bus_info{
    width: 50%;
    height:100%;
}

    .route_digits{
    width: 100%;
    height: 70%;
    text-align: center;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 7em;
    }  


    .route_destination{
    width: 100%;
    height: 30%;
    }
        .to{
            width: 30%;
            height: 100%;
            display: inline-flex;
            align-items: center;
            justify-content: flex-end;
            font-size: 2.5em;
            margin-right: 10%
        }
        .destination{
            width: 60%;
            height: 100%;
            display: inline-flex;
            align-items: center;
            justify-content: flex-start;
            font-size: 3em;
        }

.route_eta{
    width:25%;
    height: 100%;
}

    .eta_digits{
        width: 100%;
        height: 70%;
    }
        .digit_box{
            width: 65%;
            height: 100%;
            font-size: 6em;
            display: inline-flex;
            align-items: center;
            justify-content: flex-end;
            margin-right: 5%;
        }

        .measure_box{
            width: 30%;
            height: 100%;
            font-size: 2em;
            display: inline-flex;
            align-items: center;
            justify-content: flex-start;
        }

    .eta_status{
        width: 100%;
        height: 30%;
        font-size: 3em;
        display: inline-flex;
        align-items: center;
        justify-content: center;
    }

.eta_list{
    width:25%;
    height: 100%;
}

.eta_cell_1{
    width:100%;
    height: 40%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size:4.5em
}

.eta_cell{
    width:100%;
    height:30%;

}

.status{
    width:50%;
    height:100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size:1.5em
}

.full{
    width:50%;
    height:100%;
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    font-size:2.25em
}

.stop_info{
    width: 45%;
    height:100%;
}

    .stop_name{
        width: 100%;
        height: 80%;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        font-size: 4em;
    }

    .estimated_time{
        width: 100%;
        height: 20%;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        font-size: 3em;
    }

.intermediate{
    width:10%;
    height: 100%;
}

.i_symbol{
    width: 100%;
    height: 50%;
    display: inline-flex;
    align-items: flex-end;
    justify-content: center;
    font-size: 3em;
}

.estimated_mins{
    width: 100%;
    height: 50%;
    display: inline-flex;
    align-items: initial;
    justify-content: center;
    font-size: 3em;
}

.first_bus{
    width: 50%;
    height: 70%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 5em;
}

.status_NA{
    width: 50%;
    height: 30%;
    align-items: center;
    display: inline-flex;
    justify-content: center;
    font-size: 3em;
}