<!DOCTYPE html>
<html>
    <head>
        {{turbo()}}
        <title>Bus Route Web App</title>
    </head>

    <body>
        <div class = 'headings'>
            <div id='head'>Bus Route ETA Web App</div>
            <div id='author'>Designed by Joe, Chow</div>
        </div>

        <!-- create the big list table to store the bus card -->

        <div class='bus_card_wrap'>
            {%for _, d in load.items()%}
            <div class='bus_card'>
                <div class='card_rows'>
                    <div class='bus_info'>
                        
                        <div class='route_digits'>
                            <span><b>{{d['route']}}</b></span>
                        </div>
                        
                        <div class='route_destination'>
                            <div class='to'>
                                <span>往</span>
                            </div>
                            <div class='destination'>
                                <span>{{d['dest_tc']}}</span>
                            </div>
                        </div>
                    </div>
                    {%if d['rmk_tc'][0] or d['eta'][0]%}
                    <div class='route_eta'>

                        <div class='eta_digits'>
                            <div class = 'digit_box'>
                                <span>99</span>
                            </div>
                            <div class = 'measure_box'>
                                <span>分鐘</span>
                            </div>
                        </div>

                        <div class='eta_status'>
                            <span>{{d['rmk_tc'][0]}}</span>
                        </div>
                    </div>

                    <div class='eta_list'>
                        <div class='eta_cell_1'>
                            <span><b>{{d['eta'][0]}}</b></span>
                        </div>

                        <div class='eta_cell'>
                            <div class='status'>
                                <span>{{d['rmk_tc'][1]}}</span>
                            </div>
                            <div class='full'>
                                <span>{{d['eta'][1]}}</span>
                            </div>
                        </div>
                        <div class='eta_cell'>
                            <div class='status'>
                                <span>{{d['rmk_tc'][2]}}</span>
                            </div>
                            <div class='full'>
                                <span>{{d['eta'][2]}}</span>
                            </div>
                        </div>
                    </div>

                    {%else%}
                    <div class = 'first_bus'>預計 12:00 開出</div>
                    <div class = 'status_NA'>尚未開始服務</div>
                    {%endif%}
                </div>

                <div class='card_rows'>
                    <div class='stop_info'>
                        <div class='stop_name'>
                            <b>{{d.name_tc_user}}</b>
                        </div>
                        <div class='estimated_time'>
                            {{d['eta'][0]}}
                        </div>
                    </div>
                    <div class='intermediate'>
                        <div class='i_symbol'>
                            >>>
                        </div>
                        <div class='estimated_mins'>
                            mins
                        </div>
                    </div>
                    <div class='stop_info'>
                        <div class='stop_name'>
                            <b>{{d.name_tc_home}}</b>
                        </div>
                        <div class='estimated_time'>
                            end
                        </div>
                    </div>
                </div>
            </div>
            {%endfor%}

        </div>

    </body>
</html>