<!DOCTYPE html>

<html>
    <head>
        <title>Bus Route Web App</title>
    </head>

    <body>
        <div id='menu'>
            <div>Bus Route ETA Web App</div>
            <div>Designed by Joe, Chow</div>
        </div>


        <div id='dashboard'>
            <!-- start loop -->
            <div class='card'>
                <div class='card_row' id='upper_part'>
                    <div class='route_info'>
                        <div class='route_digit'></div>
                        <div class='destination'></div>
                    </div>
                    <div class='eta_info'>
                        <div class='current'>
                            <div class='eta_digits'></div>
                            <div class='current_status'></div>
                        </div>
                        <div class='further'>
                            <div class='eta_clock'></div>
                            <div class='further_eta_row'>
                                <div class='further_status'></div>
                                <div class='further_clock'></div>
                            </div>
                            <div class='further_eta_row'>
                                <div class='further_status'></div>
                                <div class='further_clock'></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class='card_row' id='lower_part'>
                    <div class='travel_info'>
                        <div class='stop_info'></div>
                        <div class='eta_info'></div>
                    </div>
                    <div class='middle'>
                        <div class='travel_symbol'></div>
                        <div class='travel_time'></div>
                    </div>
                    <div class='travel_info'>
                        <div class='stop_info'></div>
                        <div class='eta_info'></div>
                    </div>
                </div>
            </div>

            <!-- end loop -->

        </div>

    </body>

</html>