/<!DOCTYPE html>
<html>
    <head>
        <title>Bus Route Web App</title>
        <META HTTP-EQUIV=”refresh” CONTENT=15>
        <link rel="stylesheet" type = 'text/css' href="style.css">
    </head>

    <body>
        <div class = 'headings'>
            <div id='head'>Bus Route ETA Web App</div>
            <div id='author'>Designed by Joe, Chow</div>
        </div>

        <!-- create the big list table to store the bus card -->
        <div class='bus_card_wrap'>
            <div class='bus_card'>
                <div class='card_rows'>
                    <div class='bus_info'>
                        
                        <div class='route_digits'>
                            <span><b>route</b></span>
                        </div>
                        
                        <div class='route_destination'>
                            <div class='to'>
                                <span>往</span>
                            </div>
                            <div class='destination'>
                                <span>DEST</span>
                            </div>
                        </div>
                    </div>

                    <div class='route_eta'>

                        <div class='eta_digits'>
                            <div class = 'digit_box'>
                                <span>99</span>
                            </div>
                            <div class = 'measure_box'>
                                <span>分鐘</span>
                            </div>
                        </div>

                        <div class='eta_status'>
                            <span>eta_status</span>
                        </div>
                    </div>

                    <div class='eta_list'>
                        <div class='eta_cell_1'>
                            <span><b>12:99</b></span>
                        </div>

                        <div class='eta_cell'>
                            <div class='status'>
                                <span>(原定班次)</span>
                            </div>
                            <div class='full'>
                                <span>12:99</span>
                            </div>
                        </div>
                        <div class='eta_cell'>
                            <div class='status'>
                                <span>(原定班次)</span>
                            </div>
                            <div class='full'>
                                <span>12:99</span>
                            </div>
                        </div>
                    </div>

                </div>

                <div class='card_rows'>
                    <div class='stop_info'>
                        <div class='stop_name'>
                            <b>stop</b>
                        </div>
                        <div class='estimated_time'>
                            start
                        </div>
                    </div>
                    <div class='intermediate'>
                        <div class='i_symbol'>
                            >>>
                        </div>
                        <div class='estimated_mins'>
                            mins
                        </div>
                    </div>
                    <div class='stop_info'>
                        <div class='stop_name'>
                            <b>stop</b>
                        </div>
                        <div class='estimated_time'>
                            end
                        </div>
                    </div>
                </div>

            </div>
            <div class='bus_card'>
                <div class='card_rows'>
                    <div class='bus_info'>
                        
                        <div class='route_digits'>
                            <span><b>route</b></span>
                        </div>
                        
                        <div class='route_destination'>
                            <div class='to'>
                                <span>往</span>
                            </div>
                            <div class='destination'>
                                <span>DEST</span>
                            </div>
                        </div>
                    </div>
                    
                    <div class = 'first_bus'>預計 12:00 開出</div>
                    <div class = 'status_NA'>尚未開始服務</div>

                </div>

                <div class='card_rows'>
                    <div class='stop_info'>
                        <div class='stop_name'>
                            <b>stop</b>
                        </div>
                        <div class='estimated_time'>
                            
                        </div>
                    </div>
                    <div class='intermediate'>
                        <div class='i_symbol'>
                            >>>
                        </div>
                        <div class='estimated_mins'>
                            
                        </div>
                    </div>
                    <div class='stop_info'>
                        <div class='stop_name'>
                            <b>stop</b>
                        </div>
                        <div class='estimated_time'>
                            
                        </div>
                    </div>
                </div>
        </div>
    </body>
</html>