<!DOCTYPE html>
<head>

</head>

<body>
    $.post('/', {
        location: getLocation();
    })

    <form action="{{url_for('home')}}" method="post">
        <span name='lat'>
            <script>getLocaiton()</script>
        </span>
    </form>
    
    <script>
        var x = document.getElementById("demo");
    
        function getLocation() {
        if (navigator.geolocation) {
            navigator.geolocation.watchPosition(showPosition);
        } else { 
            x.innerHTML = "Geolocation is not supported by this browser.";
        }
        }
        function showPosition(position) {
            return (position.coords.latitude, position.coords.longitude);
        }
    </script>


</body>